/* lg */ 
@media (min-width: 1200px) {
    .preloader{
		display:none;
	}

		
	#news .comt a{
		width: 20% !important;
	}

	#contact-us{
		width:1200px;
		position: relative;
		height:325px;
		margin:0 auto;
	}


	#tops .container-area{
		width:1200px;
	}

	#service .container-area{
		width:1200px;
	}

	#news .container-area{
		width:1200px;
	}

	#news .top-center-bg{
		width:1200px;
	}

	#team{
		width:1200px;
	}


}

/*custom*/
@media (min-width:992px){
	#contact-us .contact-content{
		margin-top:90px;
	}

	#contact-us .contact-content a{
		 font-size:8px;
		 color:#fff;
		 display:block;
		 line-height:30px;
	}

	#contact .bg-top-left{
		position:absolute;
		left:33px;
		top:0;
		width:138px;
		height:69px;
		background:url(../images/footer/p1.png) center no-repeat;
		background-size:cover;
	}
	
	#contact .bg-top-right{
		position:absolute;
		right:0;
		top:40px;
		width:69.3px;
		height:85.6px;
		background:url(../images/footer/p2.png) center no-repeat;
		background-size:cover;
	}
	
	#contact .bg-bottom-right{
		position:absolute;
		right:62.5px;
		bottom:0;
		width:255.6px;
		height:139.3px;
		background:url(../images/footer/p3.png) center no-repeat;
		background-size:cover;
	}

	.contact-info p{
		margin:0;
		font-size:8px;
	} 

	#contact-us .content-center{
		padding-left:0;
		padding-right:0;
	}

	#contact .logo-area{
		margin-left:-18px;
		
	}
	#contact .logo-area:before{
		content:'';
		display:inline-block;
		height:2px;
		width:275px;
		background:rgb(210,210,210);
	}
	
	#contact .logo-area .logo{
		margin:5px 0;
		width:121px;
		height:42px;
		background:url(../images/footer/logo.png) center no-repeat;
		background-size:cover;
	}
	
	#contact .logo-area .logo:after{
		content:'';
		display:inline-block;
		height:2px;
		width:121px;
		margin-top:52px;
		position:relative;
		background:rgb(210,210,210);
	}

  #contact #map1{
		width:250px;
		height:188px;
	}

	
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
    .preloader{
		display:none;
	}

		
	#news .comt a{
		width: 20% !important;
	}

	#contact-us{
		width:992px;
		position: relative;
		height:325px;
		margin:0 auto;
	}

	
	.u-masker .swiper-contain-area{
		position:relative;
		margin:0 auto;
		width:992px;
		height:596px;
	}

	.u-masker .swiper-container{
		position:relative;
		width:992px;
		height:596px;
	 }
	 
	 .u-masker .swiper-slide img{
	   position:relative;
	   width:100%;
	   height:596px;
	 }
	

}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
 	.social-icons ul li {
		margin-bottom: 10px;
	}
	.btn-signup {
		padding: 10px 20px;
	}

	.navbar-default .navbar-nav>li>a {
		font-size: 12px;
	}

	
	#news .comt a{
		width: 20% !important;
	}

}

/* xs */
@media (max-width: 767px) {
	body {
		font-size: 12px;
	}

    #home{
		display:none;
	}

	#home-slider .caption h1 {
		font-size: 40px;
	}
	#home-slider .caption {
		font-size: 15px;
		padding: 0 30px;
	}
	.left-control, .right-control {
		font-size: 20px;
		height: 30px;
		line-height: 25px;
		width: 30px;
	}
	#home-slider:hover .right-control {
		right: 15px;
	}
	#home-slider:hover .left-control {
		left: 15px;
	}
	.caption .btn-start {
		font-size: 12px;
		padding: 10px 30px;
	}
	.navbar-brand {
		padding: 0 15px 60px;
	}
	.navbar-toggle {
	  border:1px solid #fff;
	}

	.navbar-toggle .icon-bar {
	  background-color: #fff;
	}
	.navbar-default .navbar-nav>li>a {
		padding-top: 10px;
		font-size: 12px;
		padding-bottom: 10px;
	}

	section {
		padding: 0;
		box-sizing:border-box;
		overflow-x:hidden;
	}

	.heading {
		font-size: 14px;
		padding-bottom: 45px;
	}
	.heading h2 {
		font-size: 26px;
	}
	.service-info h3 {
		font-size: 20px;
	}
	.our-services .col-sm-4 {
		margin-bottom: 32px;
		padding-bottom: 20px;
	}
	.our-services .col-sm-4:nth-child(4), 
	.our-services .col-sm-4:nth-child(5), 
	.our-services .col-sm-4:nth-child(6) {
		padding-top: 0;
	}
	.service-icon {
		font-size: 30px;
		height: 65px;
		line-height: 62px;
		width: 65px;
	}
	.our-services .col-sm-4:hover .service-icon:before {
		height: 90px;
		width: 90px;
	}
	.about-info {
		text-align: center;
		margin-bottom: 50px;
	}
	.team-member {
		margin-bottom: 50px;
	}
	.social-icons ul li a {
		font-size: 12px;
		height: 30px;
		line-height: 30px;
		width: 30px;
	}	
	.count .col-xs-6 {
		margin-bottom: 35px;
	}
	#features {
		min-height: 330px;
	}
	#features i {
		font-size: 35px;
	}
	#features h3 {
		font-size: 25px;
	}
	.btn-signup {
		font-size: 12px;
		margin-top: 25px;
		padding: 10px 35px;
	}
	.single-table{
		margin-bottom: 40px;
		padding: 20px;
	}
	#twitter {
		padding-bottom: 75px;
	}
	.twitter-left-control, 
	.twitter-right-control {
		top: inherit;
		bottom: 30px;
		height: 25px;
		width: 25px;
		line-height: 23px;
		font-size: 14px;
	}
	.twitter-left-control {
		left: 40%
	} 
	.twitter-right-control {
		right: 40%
	}
	#blog {
		overflow: hidden;
	}
	.entry-header h2 {
		line-height: 20px;
	}
	.blog-posts .col-sm-4 {
		margin-bottom: 35px;
	}
	.load-more {
		margin-top: 35px;
	}
	.btn-loadmore {
		font-size: 12px;
		padding: 15px 75px;
	}
	#contact-us .heading {
		padding-top: 35px;
	}
	.contact-info {
		padding-left: 0;
	}
	#footer .footer-bottom {
		text-align: center;
	}
	.footer-bottom p.pull-right {
		float: none !important;
	}
}

